<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>News Virus</title>
  </head>
  <body class="w-full h-full  bg-no-repeat bg-cover  bg-fixed"
    style ="background-image:   url('../static/m.jpg')">    
  
    <header class="text-purple-600 body-font -my-8">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-purple-600 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-purple-600 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">News Virus</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a href="/" class="mr-5 hover:text-purple-600">Home</a>
            <a href="/xc" class="mr-5 hover:text-purple-600">Learning</a>
            <a href="/prediction" class="mr-5 hover:text-gray-900">Prediction</a>
            <a href="/Article" class="mr-5 hover:text-purple-600">Article</a>
            <a href="/our" class="mr-5 hover:text-purple-600">Our Team</a>

          </nav>
        </div>
      </header><hr>
      <section class="text-black body-font -my-8">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
          <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-purple-500">News Virus
              <br class="hidden lg:inline-block">Machine learning project
            </h1>
            <p class= "mb-8 leading-relaxed">Fake news is one of the biggest issues in the current era of the internet and social media. While it’s a blessing that the news flows from one corner of the world to another in a matter of a few hours, it is also painful to see many people and groups spreading fake news.

              Machine Learning techniques using Natural Language Processing and Deep Learning can be used to tackle this problem to some extent. We will be building a Fake News Detection model using Machine Learning in this tutorial.</p>
            
          </div>
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded" alt="hero" src="../static/cvb.svg">
          </div>
        </div>
      </section>
      <section class="text-pink-600 body-font -my-8">
        <div class="container px-5 py-24 mx-auto">
          <h1 class="text-3xl font-medium title-font text-black mb-12 text-center">Testimonials</h1>
          <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/2 w-full">
              <div class="h-full bg-black p-8 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
                  <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                </svg>
                <p class="leading-relaxed mb-6">Many of the fake news stories are attributed to organizations with credible-sounding names, such as National Media Syndicate, Associated Health Press, Health News Service, National Network Media, National News Syndicate, and National Health Syndicate. These organizations either don’t exist or are copycat variations intended to be confused with actual reputable news organizations such as the Associated Press wire service. This model is best to counter Fake news</p>
                <a class="inline-flex items-center">
                  <img alt="testimonial" src="static\123.jpg" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-green-300">Mannat Bhasan</span>
                    <span class="text-green-300 text-sm">Data Analyst</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="p-4 md:w-1/2 w-full">
              <div class="h-full bg-black p-8 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
                  <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                </svg>
                <p class="leading-relaxed mb-6">Most of the fake news stories are illustrated by photographs that are probably stock photo images. Some are generic pictures of doctors and patients. Some say “models are used in all photos to protect privacy.” Some are pictures of pills that bear no resemblance to the pills being advertised. Pictures are good for getting the reader’s attention, but they just add to the confusion. This model efficent in tackling with fake news.</p>
                <a class="inline-flex items-center">
                  <img alt="testimonial" src="static\OIP.jpg" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-green-300">Navya Pandey</span>
                    <span class="text-green-300 text-sm">Data Scientist</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-black body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-black">Recent Fake News</h1>
              <div class="h-1 w-20 bg-purple-400 rounded"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed  text-2xl font-medium text-black">The recent event made the Left look like fools after the Fake News Media warned there would be violence</p>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-black p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="static\_120878477_brazil.png" alt="content">
                <h3 class="tracking-widest text-green-400 text-xs font-medium title-font">Miracle drug</h3>
                <h2 class="text-lg text-green-400 font-medium title-font mb-4">Ivermectin</h2>
                <p class="leading-relaxed text-purple-300 text-base">Ivermectin has been called a Covid "miracle" drug, championed by vaccine opponents, and recommended by health authorities in some countries. But the BBC can reveal there are serious errors in a number of key studies that the drug's promoters rely on..</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-black p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="static\_120656426_gettyimages-1341633562.jpg" alt="content">
                <h3 class="tracking-widest text-green-400 text-xs font-medium title-font">German elections</h3>
                <h2 class="text-lg text-green-400 font-medium title-font mb-4">conspiracy theories</h2>
                <p class="leading-relaxed text-purple-300 text-base">Ahead of federal elections this weekend, conspiracy theories have been spreading online, including claims the poll will be invalid because the German state is illegitimate.

                  Followers claim neither Germany nor Austria were officially recognised as independent states .</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-black p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="static\_119724035_bot_net_final_v1_closeup0001.png" alt="content">
                <h3 class="tracking-widest text-green-400 text-xs font-medium title-font">fake network</h3>
                <h2 class="text-lg text-green-400 font-medium title-font mb-4">China propaganda</h2>
                <p class="leading-relaxed text-purple-300 text-base">A sprawling network of more than 350 fake social media profiles is pushing pro-China narratives and attempting to discredit those seen as opponents of China's government, according to a new study.The aim is to delegitimise the West and boost China's influence and image overseas.</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-black p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="static\_119841300_ani_vaccine_index_976.jpg" alt="content">
                <h3 class="tracking-widest text-green-400 text-xs font-medium title-font">anti-vaxxers</h3>
                <h2 class="text-lg text-green-400 font-medium title-font mb-4">Covid-19</h2>
                <p class="leading-relaxed  text-purple-300 text-base">During the pandemic an international movement opposed to Covid-19 vaccines and restrictions has grown on social media, often muddled with conspiracy theories and dangerous falsehoods. Now some committed activists are pursuing a new direction - organising online dating.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      
      <footer class="text-purple-400 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-pink-400">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-pink-400 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">News Virus</span>
          </a>
          <p class="text-sm text-pink-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2021 News Virus —
            <a href="https://www.linkedin.com/in/deepanshsharma/" class="text-pink-400 ml-1" rel="noopener noreferrer" target="_blank">@deepanshsharma  @Gulsimarkaur</a>
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a  href =  "https://www.facebook.com/profile.php?id=100006487936126" class="text-pink-400">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a href=" https://twitter.com/splashysoul" class="ml-3 text-pink-400">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a href="https://in.linkedin.com/in/gulsimar-kaur-251a2817b" class="ml-3 text-pink-400">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a href="https://www.linkedin.com/in/deepanshsharma/" class="ml-3 text-pink-400">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </bg-gray-200>
</html>